---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
    <div class="container">
        <div class="columns">
            <div class="column three-fourths">
                <div class="collection-title">
                    <h1 class="collection-header">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
<section class="container content">
    <div class="columns">
        <div class="column three-fourths" >
            <article class="article-content markdown-body">
                {{ content }}
            </article>
        </div>
        <div class="column one-fourth">
            <h3>View</h3>
            <div id="blog-categories">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ site.url }}/blog/">查看所有博客</a>
                    </li>
                </ul>
            </div>
            {% include sidebar-search.html %}
            {% include sidebar-qrcode.html %}
            {% include sidebar-categories-nav.html %}
        </div>
    </div>
</section>
<!-- /section.content -->
